.page\:profile {
  --picture-clamp: clamp(7.5rem, 15vw, 18rem);

  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle"
  	"photo     .        "
  	"photo     name     "
    "digest    digest   " 1fr
    "stats     stats    "
    "mailBtn   mailBtn  "
  / auto 1fr;

  /* prettier-ignore */
  --sm:
  "photo   pagetitle"
  "photo   name     "
  "digest  digest   " 1fr
  "mailBtn mailBtn  " 1fr
  "stats     stats    "
  / auto 1fr;

  /* prettier-ignore */
  --lg:
    "mailBtn .      pagetitle pagetitle"
    "photo   digest digest    digest   " 1fr
    "stats   stats  stats     stats    " auto
    ;

  /* prettier-ignore */
  --2xl:
  	"mailBtn overlap pagetitle"
  	"photo   digest .        "
  	"stats   stats  stats    "
  	".       .      .        "
  / 1fr minmax(50rem, 1fr)  1fr;

  main > div {
    z-index: 2;
  }
}

.page\:stack {
  /* prettier-ignore */
  --base:
  	"pagetitle  "
  	"know-how   " 1fr
    "techs      " 1fr
    "soft-skills" 1fr;

  /* prettier-ignore */
  --2xl:
  	"pagetitle pagetitle pagetitle  "
  	"know-how  techs     soft-skills" 1fr
  / 1fr        1fr       1fr;
}

.page\:timeline {
  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle"
  	"timeline  timeline "
  	"details   details  " 1fr;
}

.page\:projects {
  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle"
  	"nondev    nondev   " 1fr
  	"dev       dev      " 1fr;
}

.page\:hobbies {
  /* prettier-ignore */
  --base:
  	"wheel pagetitle"
  	"wheel about    " 1fr
  / 1fr    1fr;
}
