.page\:profile {
  --picture-clamp: clamp(7.5rem, 15vw, 18rem);

  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle"
  	"photo     .        "
  	"photo     name     "
    "digest    digest   " 1fr
    "mailBtn   mailBtn  "
    "stats     stats    "
  / auto 1fr;

  /* prettier-ignore */
  --sm:
    "mailBtn mailBtn      pagetitle pagetitle"
    "photo name name ."
    "digest   digest digest    digest   " 1fr
    "stats   stats  stats     stats    " auto
   / auto auto 1fr;

  /* prettier-ignore */
  --lg:
    "mailBtn mailBtn      pagetitle pagetitle"
    "photo   digest digest    .   " 1fr
    "stats   stats  stats     stats    " auto
    ;

  /* prettier-ignore */
  --2xl:
  	"mailBtn overlap pagetitle"
  	"photo   digest .        "
  	"stats   stats  stats    "
  / 1fr minmax(50rem, 1fr)  1fr;

  main > div {
    z-index: 2;
  }
}

.page\:stack {
  /* prettier-ignore */
  --base:
  	"pagetitle  "
  	"tabs   " 
    "details      " 1fr
    / 1fr;

  /* prettier-ignore */
  --md:
  	"pagetitle pagetitle"
  	"tabs      details  " 1fr
    ".         .        "
  / 1fr        3fr;
}

.page\:timeline {
  /* prettier-ignore */
  --base:
  	"pagetitle pagetitle"
  	"timeline  timeline "
  	"details   details  " 1fr;
}

.page\:projects {
  /* prettier-ignore */
  --base:
  	"pagetitle"
  	"desc     " 1fr
  	"image    " ;

  /* prettier-ignore */
  --lg:
  	"index pagetitle"
  	"desc    image   " 1fr
    / 1fr 1fr;
}

.page\:hobbies {
  /* prettier-ignore */
  --base:
  	"wheel pagetitle"
  	"wheel about    " 1fr
  / 1fr    1fr;
}

.page\:contact {
  /* prettier-ignore */
  --base:
  	"pagetitle"
  	"form    " 1fr;

  /* prettier-ignore */
  form {
    --form: 
    	"title     title    " auto
    	"infos     infos    " auto
    	"firstname lastname " auto
    	"email     email    " auto
    	"phone     phone    " auto
    	"message   message  " 1fr
    	"submit    submit   " auto
      /1fr       1fr     ;
  }
}
