.group-hover\:fade-in {
  @apply opacity-0 group-hover:opacity-100 transition-opacity;
}

.group {
  .group-hover\:push-forward {
    filter: blur(0px);
    transition: filter 0.5s;
  }

  &:hover {
    .group-hover\:push-forward {
      filter: blur(3px);
    }

    .group-hover\:push-forward:hover {
      filter: blur(0px);
    }
  }
}

.hover\:big-shadow:hover {
  box-shadow: 0 0 25rem #333333;
}

.pill:active + ul li {
  color: white;
  transition: color 0.15s;
}

.underline-stone-50 {
  --underline-color: rgb(250, 250, 249);
}

.underline-rounded {
  --underline-height: 0.375rem;
  position: relative;

  @media (min-width: 768px) {
    --underline-height: 0.5rem;
  }
}

.underline-rounded:before {
  content: "";
  position: absolute;
  right: 1rem;
  bottom: -0.5rem;
  width: calc(100% - 1rem);
  height: var(--underline-height);
  background-color: var(--underline-color, currentColor);
  border-radius: 100vw;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

.underline-rounded:hover:before {
  transform: scaleX(1);
  transform-origin: right;
  transition: transform 0.2s ease-out 0.25s;
}

.hover\:custom-underline,
.group-hover\:custom-underline {
  position: relative;
}

.hover\:custom-underline:before,
.group-hover\:custom-underline:before {
  content: "";
  position: absolute;
  bottom: -0.15rem;
  left: 0;
  width: 100%;
  transition: right 0.5s;
  height: 3px;
  transform: scaleX(0);
  border-radius: 100vw;
  transform-origin: right;
  background-color: currentColor;
  transition: transform 0.2s ease-out;
}

.hover\:custom-underline:hover:before,
.group:hover .group-hover\:custom-underline:before {
  transform: scaleX(1);
  transform-origin: left;
}

.group .nav-email,
.contact-title {
  position: relative;
  display: flex;
  justify-content: center;

  &:before {
    content: "send";
    position: absolute;
    bottom: 0.5em;
    font-size: 3rem;
    @apply text-stone-50;
    font-family: "Material Icons Rounded";
    opacity: 0;
    transition: opacity 0, font-size 0;
    offset-path: path(
      "M 28 28 S 2.4751 -10.6104 -10.9487 16.5389 S -22.9591 88.1363 33.9913 94.3772 S 144.2 100.8 107.9373 158.0555 S 50.4 337.4 185.9389 360.3581"
    );
  }
}

.group .nav-email {
  z-index: 4;

  &:before {
    z-index: 3;
    font-size: 0.35em;
    rotate: -90deg;
    offset-path: path(
      "M 0 24 S 37.2 38.4 33.9411 -9.9411 S 67.8823 -43.8823 67.8823 -43.8823"
    );
  }

  &:after {
    content: "";
    position: absolute;
    top: 7px;
    height: 0;
    width: 0;
    border-top: 0.25em solid currentColor;
    border-left: 0.45em solid transparent;
    border-right: 0.45em solid transparent;
    border-radius: 0.2em;
    z-index: 2;
    transform-origin: top;
    transition: rotate 0.35s;
  }
}

.group:hover .nav-email,
.contact-title:hover {
  &:before {
    font-size: 2rem;
    opacity: 1;
    animation: followPath 2.4s ease-out forwards;
    transition: opacity 0.35s, font-size 0.35s;
  }
}

.group:hover .nav-email {
  &:before {
    font-size: 0.75em;
    animation: followPath 1.2s forwards;
  }
  &:after {
    rotate: x 180deg;
  }
}
